body {
	font-family: 'Rubik', sans-serif;
	background-color: #e0e0e0;
	color: #0f0f0f;
	margin: 0px;
}
div.banner {
	width: 100%;
	background-color: #f0f0f0;
	color: #0f0f0f;
	padding: 15px 0px 15px 0px;
	position: fixed;
	top: 0;
}
div.banner h1 {
	font-size: 36pt;
	color: inherit;
	display: block;
	padding: 0px 10px;
	margin: 0px;
	font-weight: 400;
}
div.banner a {
	font-size: 18pt;
	color: inherit;
	display: inline-block;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0px 15px;
}
div.banner a:hover {
	text-decoration: underline;
}
h2 {
	font-size: 24pt;
	color: inherit;
	display: block;
	padding: 0px 10px;
	margin: 0px;
	text-transform: uppercase;
	font-weight: 500;
}
