/* Setting inherited font and color for HTML body */
body {
	font-family: 'Rubik', sans-serif;
	background-color: #212121;
	color: rgba(255, 255, 255, 0.75);
	margin: auto;
	text-align: center;
}
/* Creating generalized style for hyperlinks */
a {
	text-decoration: none;
	font-weight: 600;
	color: rgba(255, 255, 255, 1) !important;
}
a:hover {
	text-decoration: underline;
}
/* Not truly generalized, but using specific tags for a singular purpose */
td {
	vertical-align: center;
	white-space: nowrap;
	overflow: hidden;
}
h1 {
	font-size: 24pt;
	display: inline-block;
	padding: 0px 10px;
	margin: 0px 0px 0px 15px;
	font-weight: 600;
	font-style: italic;
	color: rgba(255, 255, 255, 1) !important;
}
h2 {
	font-size: 24pt;
	display: inline-block;
	padding: 10px 10px;
	margin: 0px;
	text-transform: uppercase;
	font-weight: 400;
	color: rgba(255, 255, 255, 1) !important;
}
h3 {
	font-size: 14pt;
	font-weight: 600;
	display: inline-block;
	padding: 0px;
	margin: 0px;
	color: rgba(255, 255, 255, 1) !important;
}
/* Designing special div for the header */
.container {
	/*background-color: #121212;*/
	/*background: linear-gradient(180deg, rgba(33,33,33,1) 80%, rgba(33,33,33,0) 100%);*/
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 10;
	top: 0;
}
div.banner {
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	padding: 15px 0px 15px 0px;
	top: 50%;
}
div.banner a {
	font-size: 16pt;
	display: inline-block;
	padding: 5px 10px;
	margin: 0px 0px 0px 15px;
	overflow: hidden;
}
/* Style for content class div and all inheriting elements */
div.content {
	padding-top: 100%;
	font-size: 12pt;
	color: inherit;
	display: inline-block;
	overflow: hidden;
	margin: auto;
	width: 90%;
	text-align: center;
}
div.content div {
	padding-top: 100px;
	vertical-align: top;
	text-align: left;
}
div.content p {
	padding: 10px 10px;
	margin: 0px;
}
div.content ul {
	margin: 0px;
}
div.content li {
	padding-top: 20px;
}
